VITE_BACKEND_URL=https://payments.openbb.dev
VITE_PLATFORM_URL=
VITE_HELP_URL=https://docs.openbb.co/excel
VITE_ADDIN_BASE_URL=https://localhost:1420
VITE_POSTHOG_API_KEY=
VITE_POSTHOG_API_HOST=https://info.openbb.dev
VITE_ENV=DEVELOPMENT

# manifest.xml variables
ADDIN_UUID=a175c54f-a6db-40a7-9946-d0e955f7ea50
ADDIN_BASE_URL=https://localhost:1420

# functions generator
GITHUB_PAT=

# tests
PAYMENTS_AUTH_TOKEN=
TEST_PLATFORM_EMAIL=
TEST_PLATFORM_PASSWORD=

# TODO: Use vite .env modes to set the correct values for each environment